body {
    background-image: linear-gradient(rgb(252, 219, 233), rgb(255, 90, 115));
    background-color: rgb(255, 90, 115);
    background-repeat: no-repeat;
    color: white;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
h1 {
    color:  #f82036d4;
}

h2 {
    color:  #ff4580e4;
}
footer {
    color: #fddada;
}